KeyCommander/obj/
TestsKeyCommander/TestsKeyCommander.csproj
TestsKeyCommander/
KeyCommander/bin/
KeyCommander/Dotfuscated/
Setup_20180916/
Setup_i5_20191218-/
old_Setup_i5_20191218-/
Setup_20180916_old/
02_Ｃ＃リリース/
